.footer-container {
  background-color: #1a1a1a;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.footer-container p {
  margin: 0;
  font-style: italic;
  color: #ccc;
}

.footer-icons {
  margin-top: -5px;
  margin-bottom: 10px;
}

.footer-icons a {
  margin: 0 12px;
  color: #fff;
  font-size: 20px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.footer-icons a:hover {
  color: #3399ff; /* Biru saat hover */
  transform: scale(1.2);
}

.footer-nav {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.footer-nav a {
  text-decoration: none;
  color: #fff; /* Putih default */
  font-weight: 600;
  letter-spacing: 1px;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.footer-nav a:hover {
  color: #3399ff; /* Biru saat hover */
  border-bottom: 2px solid #3399ff;
}

.copyright {
  font-size: 14px;
  color: #ccc;
}

.copyright strong {
  color: #fff;
}